.main-about {
  background-color: #fff;
}

.main-about-addition-skills ul {
  padding-left: 20px;
  list-style: disc;
}

.main-about-addition-follow a {
  color: #c2b2b4;

  &:hover,
  &:focus {
    color: #ab9698;
  }
}
