@use "./mixin" as *;

.main-hero {
  background-color: #6b4e71;
}

.main-hero-highlight,
.main-hero-highlight-links a {
  color: #fff7f7;
}

.main-hero-highlight-links p {
  font-size: 1.2rem;
}

.main-hero-highlight-links p > a {
  text-decoration: underline;
}

.main-hero-highlight-links a:hover,
.main-hero-highlight-links a:focus {
  color: #ffc4c4;
}
