.container {
  max-width: 1280px;
  margin: 0 auto;
}

.button-primary,
.button-secondary {
  display: inline-block;
  padding: 10px 15px;
  border: none;
  border-radius: 3px;
  color: fff7f7;
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: 1px;
  text-decoration: none;
}

.button-primary {
  background-color: #53687e;
  &:hover,
  &:focus {
    background-color: #495b6f;
  }
}

.button-secondary {
  background-color: #6b4e71;

  &:hover,
  &:focus {
    background-color: #5d4462;
  }
}
