@use "mixin" as *;

.main-works {
  background-color: #fff7f7;
}

.main-works-item:last-child {
  margin-bottom: 0;
}

.main-works-item-img img {
  border-radius: 5px;
}

.main-works-item-img.primary img {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15), 10px 10px 0 #53687e;
}

.main-works-item-img.secondary img {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15), 10px 10px 0 #6b4e71;
}

@include mq(sp) {
  .main-works {
    padding: 80px 0;

    &-item {
      margin-bottom: 50px;

      &-img {
        margin-bottom: 40px;
      }

      &-text p:last-of-type {
        margin-bottom: 30px;
      }
    }
  }
}

@include mq(tb) {
  .main-works {
    padding: 100px 0;
  }

  .main-works-item {
    display: flex;
    align-items: center;
    margin: 0 -30px 50px;
  }

  .main-works-item:nth-child(2) {
    flex-direction: row-reverse;
  }

  .main-works-item-text,
  .main-works-item-img {
    width: 50%;
    padding: 0 30px;
  }
}

@include mq(pc) {
  .main-works {
    padding: 120px 0;
  }

  .main-works-item {
    margin: 0 -60px 100px;
  }

  .main-works-item-text {
    padding: 0 60px;
  }

  .main-works-item-img.primary img {
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15), 30px 30px 0 #53687e;
  }

  .main-works-item-img.secondary img {
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15), 30px 30px 0 #6b4e71;
  }
}
