@use "mixin" as *;

.main-works {
  background-color: #fff7f7;
}

.main-works-item:last-child {
  margin-bottom: 0;
}

.main-works-item-img img {
  border-radius: 5px;
}

.main-works-item-img.primary img {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15), 10px 10px 0 #53687e;
}

.main-works-item-img.secondary img {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15), 10px 10px 0 #6b4e71;
}
