@forward "about";
@forward "footer";
@forward "header";
@forward "hero";
@forward "utill";
@forward "works";
@use "mixin" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  color: #3a4454;
  font-family: "Helvetica Neue", "Helbetica", "Hiragino Sans",
    "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
}

h1,
h2 {
  font-family: "Piazzolla", "Times New Roman", Times, serif;
  line-height: 1.4;
}

h2,
h3 {
  margin-top: 0;
  font-weight: 500;
}

h2 {
  text-align: center;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

p {
  line-height: 1.8;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

a,
input,
textarea {
  transition: all 0.15s ease-in-out;
}

input[type="submit"]:hover {
  cursor: pointer;
}

.social-link {
  display: flex;
  flex-wrap: wrap;
  font-size: 2rem;
}

.social-link li + li {
  margin-left: 20px;
}

/* モバイル */

@include mq(sp) {
  h1,
  h2 {
    font-size: 2rem;
  }

  h1 {
    margin-bottom: 25px;
  }

  h2 {
    margin-bottom: 40px;
  }

  h2 > i {
    margin-right: 10px;
  }

  h3 {
    margin-bottom: 20px;
    font-size: 1.5rem;
  }
}

// タブレット版
@include mq(tb) {
  h1,
  h2 {
    font-size: 2.25rem;
  }

  h1 {
    margin-bottom: 40px;
  }

  h2 {
    margin-bottom: 60px;
  }

  h2 > i {
    margin-right: 20px;
  }
}
